* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(230, 88, 32, 0.932);
  width: 100vw;
  height: 100vh;
}